<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="chunks/template_chunks :: head('Student')"></head>

<body>

<nav th:replace="chunks/template_chunks :: header"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/student}" method="post" th:object="${student}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter name">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="User age">
                    <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<th:block th:replace="chunks/template_chunks :: scripts"></th:block>
</body>

</html>